.searchBar {
  /* margin: 4rem 6rem; */
  display: flex;
  justify-content: center;
}

.searchBox {
  width: 100%;
  /* margin: 20px 0 20px 0; */
}

.searchList {
  display: flex;
  padding: 30px;
  justify-content: center;
}

.searchList label {
  margin: 10px;
}
